# Default: everything requires org-owner review
* @VolkerWessels/VolkerWessels-OrgOwners

# PR template ownership by team

/.github/PULL_REQUEST_TEMPLATE/cct-* @VolkerWessels/cct
/.github/PULL_REQUEST_TEMPLATE/teams/cct/ @VolkerWessels/cct
/.github/PULL_REQUEST_TEMPLATE/vwid-development-* @VolkerWessels/vwid-development
/.github/PULL_REQUEST_TEMPLATE/teams/vwid-development/ @VolkerWessels/vwid-development